#awwtysmLogsModal, #awwtysmMainModal {
    min-width: calc(min(500px, 80vw));
}

.awwModalOverflow {
    max-height: 80vh;
    overflow-y: scroll;
}

#awwtysmLogsList {
    max-height: 80vh;
    overflow-y: auto;
    font-size: 0.7em;
    font-family: monospace;
}

#awwtysmLogsList .ERROR {
    color: red;
}

#awwtysmLogsList .WARNING {
    color: orange;
}

#awwtysmLogsList .INFO {
    color: blue;
}

#awwtysmLogsList .DEBUG {
    color: green;
}

#awwtysmLogsList .TRACE {
    color: gray;
}

#awwtysmDictionary {
    max-height: 80vh;
    overflow-y: auto;
    font-family: monospace;
}

.awwModalOverflow details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
  }
  
.awwModalOverflow summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
  }
  
.awwModalOverflow details[open] {
    padding: 0.5em;
  }
  
.awwModalOverflow details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
  }
  
