<li class="separator acl-write"></li>

<li data-type="button" data-key="awwtysm_run" data-l10n-id="ep_awwtysm.toolbar.run.title">
  <a class="grouped-left ep_awwtysm" data-align="0" data-l10n-id="ep_awwtysm.toolbar.run.title" title="Run" aria-label="Run">
    <button class="buttonicon buttonicon-step-forward ep_awwtysm_run" data-align="0" aria-label="Run">Run Aww TYSM</button>
  </a>
</li>

<li data-type="button" data-key="awwtysm_run_all" data-l10n-id="ep_awwtysm.toolbar.run_all.title">
  <a class="grouped-left ep_awwtysm" data-align="0" data-l10n-id="ep_awwtysm.toolbar.run_all.title" title="Run All" aria-label="Run All">
    <button class="buttonicon buttonicon-step-forward ep_awwtysm_run_all" data-align="0" aria-label="Run All">Run All Aww TYSM</button>
  </a>
</li>