<li class="separator acl-write"></li>

<li data-type="button" data-key="awwtysm_run" data-l10n-id="ep_awwtysm.toolbar.run.title">
  <a class="grouped-left ep_awwtysm" data-l10n-id="ep_awwtysm.toolbar.run.title" title="Run" aria-label="Run">
    <button class="buttonicon buttonicon-step-forward ep_awwtysm_run" aria-label="Run">Run Aww TYSM</button>
  </a>
</li>

<li class="separator acl-write"></li>

<li data-type="button" data-key="awwtysm_run_all" data-l10n-id="ep_awwtysm.toolbar.run_all.title">
  <a class="grouped-left ep_awwtysm" data-l10n-id="ep_awwtysm.toolbar.run_all.title" title="Run All" aria-label="Run All">
    <button class="buttonicon buttonicon-step-forward ep_awwtysm_run_all" aria-label="Run All">Run All Aww TYSM</button>
  </a>
</li>

<li class="separator acl-write"></li>

<li data-key="awwtysmLogsModal" data-type="button" id="awwtysmLogsModalButton">
  <a class="grouped-left ep_awwtysm">
    <button id="awwtysmLogsModalToolbarButton" class="buttonicon buttonicon-logs" data-l10n-id="ep_awwtysm.logsModal.button">Logs</button>
  </a>
</li>

<li class="separator acl-write"></li>

<li data-key="awwtysmMainModal" data-type="button" id="awwtysmMainModalButton">
  <a class="grouped-left ep_awwtysm">
    <button id="awwtysmMainModalToolbarButton" class="buttonicon buttonicon-main" data-l10n-id="ep_awwtysm.mainModal.button">Aww</button>
  </a>
</li>

<li class="separator acl-write"></li>

<li data-key="awwtysmReplModal" data-type="button" id="awwtysmReplModalButton">
  <a class="grouped-left ep_awwtysm">
    <button id="awwtysmReplModalToolbarButton" class="buttonicon buttonicon-main" data-l10n-id="ep_awwtysm.replModal.button">REPL</button>
  </a>
</li>

<li class="separator acl-write"></li>

<li data-key="awwtysmToggleStage" data-type="button" id="awwtysmToggleStageButton">
  <a class="grouped-left ep_awwtysm">
    <button id="awwtysmToggleStageToolbarButton" class="buttonicon buttonicon-stage" data-l10n-id="ep_awwtysm.toggleStage.button">Stage</button>
  </a>
</li>

