<div id="awwtysmMainModal" class="popup">
  <% e.begin_block("awwtysmMainModal"); %>
  <div class="popup-content awwModalOverflow">
    <h1 data-l10n-id="ep_awwtysm.mainModal.title">Aww TYSM</h1>
    <div id="awwtysmMain">
      <h2>Current Stack</h2>
      <div id="awwtysmStack">
        <p>No stack yet</p>
      </div>
      <h2>Last Line</h2>
      <div id="awwtysmLastLine">
        <p>No last line yet</p>
      </div>
      <h2>Memory</h2>
      <div id="awwtysmMemory">
        <p>No memory yet</p>
      </div>
      <h2>History</h2>
      <div id="awwtysmHistory">
        <p>No history yet</p>
      </div>
      <h2>Dictionary</h2>
      <div id="awwtysmDictionary">
        <p>No dictionary yet</p>
      </div>
    </div>
  </div>
  <% e.end_block(); %>
</div>
