<div id="awwtysmMainModal" class="popup">
    <% e.begin_block("awwtysmMainModal"); %>
    <div class="popup-content">
        <h1 data-l10n-id="ep_awwtysm.mainModal.title">Aww TYSM</h1>   
        <div id="awwtysmMain">
            <h2>Dictionary</h2>
            <div id="awwtysmDictionary">
                <p>No dictionary yet</p>
            </div>
        </div>
    </div>
    <% e.end_block(); %>
</div>